<div class="editor-wrapper" ng-class="{
    's-ui-editor-single': !doubleMode,
    's-ui-editor-double': doubleMode,
    's-ui-editor-code': !doubleMode && tab === 'code',
    's-ui-editor-preview': !doubleMode && tab === 'preview'
  }">
  <div class="editor-row editor-tabs">
    <div class="editor-col">
      <div class="editor-tab" ng-click="activateTab('code')" ng-class="{ 's-active': tab === 'code', 's-inactive': tab !== 'code' }">
        Editor
      </div>
    </div>
    <div class="editor-col">
      <div class="editor-tab" ng-click="activateTab('preview')" ng-class="{ 's-active': tab === 'preview', 's-inactive': tab !== 'preview' }">
        Preview
      </div>
    </div>
    <div class="editor-tabs-shadow"></div>
  </div><!-- .editor-row -->
  <div class="editor-row">
    <div class="editor-col editor-col-content editor-col-input">
      <div class="editor-shadow"></div>
      <div ui-codemirror="editorOptions" ng-model="editorText"></div>
    </div>
    <div class="editor-col editor-col-content editor-col-preview">
      <div class="editor-shadow"></div>
      <div markdown ng-model="editorText"></div>
    </div>
  </div><!-- .editor-row -->
</div>
