<div class="container editor-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel-editor">
        <div class="panel-heading">
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn" ng-click="bold()"><span class="icon-bold"></span></button>
            <button type="button" class="btn btn-primary btn" ng-click="italic()"><span class="icon-italic"></span></button>
            <button type="button" class="btn btn-primary btn" ng-click="underline()"><span class="icon-underline"></span></button>
            <button type="button" class="btn btn-primary btn" ng-click="link()"><span class="icon-link"></span></button>
            <button type="button" class="btn btn-primary btn" ng-click="attachment()"><span class="icon-attachment"></span></button>
            <button type="button" class="btn btn-primary btn" ng-click="image()"><span class="icon-image"></span></button>
          </div>
        </div>
        <div class="panel-body">
          <textarea id="editor"></textarea>
        </div>
      </div>
      <div class="drag">
        <span class="icon-ellipsis"></span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="preview" class="container-preview">Something</div>
    </div>
  </div>
</div>
